services:
  stash:
    container_name: stash
    image: stashapp/stash:latest
    security_opt:
      - no-new-privileges:true
    labels:
      - 'wud.watch=true'
      - 'wud.tag.include=^\d+\.\d+\.\d+$$'
      - 'wud.link.template=https://github.com/stashapp/stash/releases/tag/$${major}.$${minor}.$${patch}'
      - 'wud.display.icon=si:stash'
    environment:
      - STASH_STASH=/data/
      - STASH_GENERATED=/generated/
      - STASH_METADATA=/metadata/
      - STASH_CACHE=/cache/
      - STASH_PORT=9999
      - TZ=UTC/Etc
    volumes:
      - '/etc/localtime:/etc/localtime:ro'
      - './app_data/config:/root/.stash'
      - './app_data/metadata:/metadata'
      - './app_data/cache:/cache'
      - './app_data/blobs:/blobs'
      - '/mnt/dontpissmeoff/stash:/data'
      - '/mnt/dontpissmeoff/stash/generated:/generated'
    ports:
      - '9999:9999'
    restart: unless-stopped