version: "3"
services:
    watchtower:
        container_name: watchtower
        image: containrrr/watchtower
        restart: always
        environment:
            WATCHTOWER_CLEANUP: "true"
            WATCHTOWER_LABEL_ENABLE: "true"
            WATCHTOWER_NOTIFICATIONS: shoutrrr
            WATCHTOWER_NOTIFICATION_URL: $NTFY
            WATCHTOWER_SCHEDULE: 0 0 2 * * *
            TZ: $TZ
        volumes:
            - "/var/run/docker.sock:/var/run/docker.sock"