version: '3'

services:
  vikunja:
    image: vikunja/vikunja
    container_name: vikunja
    env_file:
    - .env
    networks:
      - frontend
      - backend
    volumes:
      - ${USERDIR}/apps/${CONTAINER}/app_data:/app/vikunja/files
    depends_on:
      vikunja-db:
        condition: service_healthy
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.vikunja.entrypoints=http
      - traefik.http.routers.vikunja.rule=Host(`vikunja.local.example.com`)
      - traefik.http.middlewares.vikunja-https-redirect.redirectscheme.scheme=https
      - traefik.http.routers.vikunja.middlewares=vikunja-https-redirect
      - traefik.http.routers.vikunja-secure.entrypoints=https
      - traefik.http.routers.vikunja-secure.rule=Host(`vikunja.local.example.com`)
      - traefik.http.routers.vikunja-secure.tls=true
      - traefik.http.routers.vikunja-secure.service=vikunja
      - traefik.http.services.vikunja.loadbalancer.server.port=3456
      - traefik.docker.network=frontend
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 100M
        reservations:
          cpus: '0.25'
          memory: 50M

  vikunja-db:
    image: mariadb:10
    container_name: vikunja-db
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    networks:
      - backend
    environment:
      MYSQL_ROOT_PASSWORD: $VIKUNJA_DATABASE_ROOT_PASSWORD
      MYSQL_USER: $VIKUNJA_DATABASE_USER
      MYSQL_PASSWORD: $VIKUNJA_DATABASE_PASSWORD
      MYSQL_DATABASE: $VIKUNJA_DATABASE_DATABASE
    volumes:
      - ${USERDIR}/apps/${CONTAINER}/app_data/db:/var/lib/mysql
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -u $$MYSQL_USER --password=$$MYSQL_PASSWORD"]
      interval: 2s
      start_period: 30s
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 150M
        reservations:
          cpus: '0.25'
          memory: 50M
networks:
  frontend:
    external: true
  backend:
    external: true