version: "3.4"

services:
  paperless-redis:
    image: docker.io/library/redis:7
    container_name: paperless-ngx-redis
    restart: unless-stopped
    networks:
      - backend
    volumes:
      - ${USERDIR}/dbs/${CONTAINER}/redis:/data

  paperless-postgres:
    image: docker.io/library/postgres:13
    container_name: paperless-ngx-db
    restart: unless-stopped
    networks:
      - backend
    security_opt:
      - no-new-privileges:true
    volumes:
      - ${USERDIR}/dbs/${CONTAINER}/postgresql:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}

  paperless:
    image: ghcr.io/paperless-ngx/paperless-ngx:latest
    container_name: paperless-ngx-web
    restart: unless-stopped
    networks:
      - frontend
      - backend
    security_opt:
      - no-new-privileges:true
    depends_on:
      - paperless-postgres
      - paperless-redis
    healthcheck:
      test: ["CMD", "curl", "-fs", "-S", "--max-time", "2", "http://localhost:8000"]
      interval: 30s
      timeout: 10s
      retries: 5
    volumes:
      - ${USERDIR}/apps/${CONTAINER}/data:/usr/src/paperless/data
      - ${USERDIR}/apps/${CONTAINER}/media:/usr/src/paperless/media
      - ${USERDIR}/apps/${CONTAINER}/export:/usr/src/paperless/export
      - ${USERDIR}/apps/${CONTAINER}/consume:/usr/src/paperless/consume
      - ${USERDIR}/apps/${CONTAINER}/scripts:/usr/src/paperless/scripts

    environment:
      - PAPERLESS_REDIS=${PAPERLESS_REDIS}
      - PAPERLESS_DBHOST=${PAPERLESS_DBHOST}
      - USERMAP_UID=${USERMAP_UID}
      - USERMAP_GID=${USERMAP_GID}
      - PAPERLESS_ADMIN_USER=${PAPERLESS_ADMIN_USER}
      - PAPERLESS_ADMIN_MAIL=${PAPERLESS_ADMIN_MAIL}
      - PAPERLESS_ADMIN_PASSWORD=${PAPERLESS_ADMIN_PASSWORD}
      - PAPERLESS_SECRET_KEY=${PAPERLESS_SECRET_KEY}
      - PAPERLESS_URL=${PAPERLESS_URL}
      - PAPERLESS_ALLOWED_HOSTS=${PAPERLESS_ALLOWED_HOSTS}
      - PAPERLESS_TIME_ZONE=${PAPERLESS_TIME_ZONE}
      - PAPERLESS_OCR_LANGUAGE=${PAPERLESS_OCR_LANGUAGE}
      - PAPERLESS_CONSUMER_POLLING=${PAPERLESS_CONSUMER_POLLING}
      - PAPERLESS_DBNAME=${PAPERLESS_DBNAME}
      - PAPERLESS_DBUSER=${PAPERLESS_DBUSER}
      - PAPERLESS_DBPASS=${PAPERLESS_DBPASS}
      - PAPERLESS_POST_CONSUME_SCRIPT=/usr/src/paperless/scripts/paperless.sh
    labels:
      - traefik.enable=true
      - traefik.http.routers.paperless.entrypoints=http
      - traefik.http.routers.paperless.rule=Host(`paperless.local.example.com`)
      - traefik.http.middlewares.paperless-https-redirect.redirectscheme.scheme=https
      - traefik.http.routers.paperless.middlewares=paperless-https-redirect
      - traefik.http.routers.paperless-secure.entrypoints=https
      - traefik.http.routers.paperless-secure.rule=Host(`paperless.local.example.com`)
      - traefik.http.routers.paperless-secure.tls=true
      - traefik.http.routers.paperless-secure.service=paperless
      - traefik.http.services.paperless.loadbalancer.server.port=8000
      - traefik.docker.network=frontend
      - traefik.http.middlewares.limit.buffering.maxRequestBodyBytes=50000000 # optional, only necessary for enabled file uploads
      - traefik.http.middlewares.limit.buffering.maxResponseBodyBytes=50000000 # optional, only necessary for enabled file uploads
      - traefik.http.middlewares.limit.buffering.memRequestBodyBytes=50000000 # optional, only necessary for enabled file uploads
      - traefik.http.middlewares.limit.buffering.memResponseBodyBytes=50000000 # optional, only necessary for enabled file uploads
    
networks:
  frontend:
    external: true
  backend:
    external: true
