{
        debug
        order crowdsec first
        crowdsec {
                api_url http://localhost:8080
                api_key apiKey
                ticker_interval 15s
        }
        servers {
                trusted_proxies cloudflare
                client_ip_headers Cf-Connecting-Ip X-Forwarded-For
        }
}
import conf/sites/example.lol
import conf/sites/mc.example.moe
import conf/sites/dashboard.example.moe
import conf/sites/fi.example.moe