services:
  patchy:
    depends_on:
      - patchy-valkey
    mem_limit: 512MB
    cpus: 0.5
    #image: git.nadeko.net/fijxu/patchy:latest
    image: patchy
    container_name: patchy
    volumes:
      - './app_data/data:/data'
      - './app_data/config.yml:/patchy/config/config.yml:ro'
    ports:
      - '127.0.0.1:7828:7828'
    restart: unless-stopped

  patchy-valkey:
    image: valkey/valkey:8-alpine
    container_name: patchy-valkey
    labels:
      - 'wud.watch=true'
      - 'wud.tag.include=^\d+\.\d+\.\d+$$'
      - 'wud.display.icon=si:redis'
      - 'wud.link.template=https://github.com/valkey-io/valkey/releases/tag/$${major}.$${minor}.$${patch}'
    volumes:
      - './app_data/valkey:/data'
    healthcheck:
        test: ["CMD", "valkey-cli", "ping"]
        interval: 5s
        timeout: 5s
        retries: 5
    restart: unless-stopped