services:
  vencord:
    depends_on:
        valkey:
             condition: service_healthy
    image: ghcr.io/vencord/vencloud
    container_name: vencord_backend
    labels:
      - 'wud.watch=true'
      - 'wud.tag.include=^\d+\.\d+\.\d+$$'
      - 'wud.display.icon=si:vencloud'
      - 'wud.link.template=https://github.com/Vencord/Vencloud/releases/tag/$${major}.$${minor}.$${patch}'
    env_file:
      - ./envs/vencloud.env
    ports:
      - '127.0.0.1:8485:8080'
    restart: always

  valkey:
    image: valkey/valkey:8-alpine
    container_name: vencord_valkey
    labels:
      - 'wud.watch=true'
      - 'wud.tag.include=^\d+\.\d+\.\d+-alpine$$'
      - 'wud.display.icon=si:valkey'
      - 'wud.link.template=https://github.com/valkey-io/valkey/releases/tag/$${major}.$${minor}.$${patch}'
    volumes:
      - './app_data/valkey:/data'
    healthcheck:
        test: ["CMD", "valkey-cli", "ping"]
        interval: 5s
        timeout: 5s
        retries: 5
    restart: always