version: "2.3"

services:
  gotify:
    image: gotify/server
    container_name: gotify
    environment:
      - TZ=$TZ
    volumes:
      - ${USERDIR}/apps/${CONTAINER}/cache:/app/data
    networks:
      - frontend
    restart: unless-stopped
networks:
  frontend:
    external: true